fastapi
uvicorn
sqlalchemy
psycopg2-binary
passlib[bcrypt]
requests
beautifulsoup4
pytest
httpx
psycopg
ollama
langchain-postgres
langchain-community
langchain-ollama
pypdf
python-jose[cryptography]
tqdm
python-multipart
unstructured
markdown
pydantic[email]
pathlib